:root {
  --color-general: #FF6720;
  --color-negre: black;
  --color-gris: #DCDCDC;
}

main {
  padding: 25px 5px;
}

aside {
  padding: 25px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  
}
.aside {
  border: 2px solid ;
  border-radius: 5px;
}
.aside1{
  border: 1px solid; 
  max-width: 33%;
}
.top-aside {
  background-color: grey;
}
.flex-container>* {
  padding: 10px;
  flex: 1 100%;
}


@media screen and (max-width: 700px) {
  .aside {
    flex: 1 auto;
  }
  .aside1 {
    flex: 1 auto;
  }

  .main {
    flex: 3 0px;
  }

  .main {
    order: 2;
  }
}

/*estils menu desplegable*/
.collapsible {
  background-color: var(--color-general);
  color: white;
  width: 25px;
  border-radius: 25px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: var(--color-gris);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}