:root {
  --color-general: #FF6720;
  --color-negre: black;
  --color-gris: #DCDCDC;
}

main {
  padding: 25px 5px;
}

aside {
  padding: 25px;
}

table, th, td {
  border: 1px solid ;
  border-collapse: collapse;
  height: 100px;
  text-align: center;
}
.container{
  width: 410px;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  
}
.aside {
  border: 2px solid ;
  border-radius: 5px;
}
.aside1{
  border: 1px solid; 
  max-width: 33%;
}
.top-aside {
  background-color: grey;
}
.flex-container>* {
  padding: 10px;
  flex: 1 100%;
}

.main {
  text-align: left;
}

.footer
{
   width:100%;
    
    
    background-color: var(--color-general);
}


@media screen and (max-width: 700px) {
  .aside {
    flex: 1 auto;
  }
  .aside1 {
    flex: 1 auto;
  }

  .main {
    flex: 3 0px;
  }

  .main {
    order: 2;
  }

  .footer {
    order: 4;
  }
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/*estils menu desplegable*/
.collapsible {
  background-color: var(--color-general);
  color: white;
  width: 25px;
  border-radius: 25px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: var(--color-gris);
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  height: 3rem;
  background-color: var(--color-negre);
  border: solid var(--color-negre);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em var(--color-negre), inset 0 .125em .5em var(--color-negre);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}