main {
  padding: 25px 5px;
}

.aside {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
}

.aside1 {
  border: 1px solid;
  padding: 5px;
}

/*estils menu desplegable*/
.collapsible {
  background-color: #FF6720;
  color: white;
  width: 25px;
  border-radius: 25px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #DCDCDC;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}
th {
  width: 33%;
}